<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.danilwelter.ninjapizzacourier">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ico"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ico"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".View.Activities.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".View.Activities.LoginActivity"
            android:label="@string/title_activity_login"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".View.Activities.OrderActivity"
            android:label="@string/title_activity_order"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".View.Activities.SettingsActivity"
            android:label="@string/action_settings"></activity>
        <activity android:name=".View.Activities.SheduleActivity"
            android:label="Мое расписание"/>
        <activity android:name=".View.Activities.StatActivity"
            android:label="Моя статистика"/>
        <activity android:name=".View.Activities.BugReportActivity"
            android:label="Сообщить об ошибке"></activity>
    </application>

</manifest>